@charset "utf-8";

.All {
    display: flex; 
}
main {
    width: 70%;
    background-color: dimgray

}

.name {
    text-align: center;
    font-size: 40px;
    padding: 0;
    line-height: 2;
}

aside section {
    margin: auto;
    padding: 0;
}

footer{
    background-color: aquamarine;
}

aside {
    background-color: rgb(255, 254, 194);
    width: 30%;
    padding: 0.5rem;
}

p {
    text-align: center;
}